<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.624972041406-fr6n4obil8prkt8ifr37lc4jldks64id</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3764511587108477</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>daleel-deepLinking</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SCSDKRedirectUrl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gamfunSnapchat</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>3764511587108477</string>
	<key>FacebookClientToken</key>
	<string>90bf79fb13fc8a1a2c30ed150cf3e8f4</string>
	<key>FacebookDisplayName</key>
	<string>Qeblty</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger-platform-20150714</string>
		<string>fb-messenger</string>
		<string>whatsapp</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbshareextension</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>snapchat</string>
		<string>snssdk1180</string>
		<string>snssdk1233</string>
		<string>instagram</string>
	</array>
	<key>MOBAppKey</key>
	<string>3723d07f6c0c6</string>
	<key>MOBAppSecret</key>
	<string>64502e9d4ea8ddbcc43662f8346f4f42</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SCSDKClientId</key>
	<string>d764e0d4-a8bd-425d-b2a7-912bcd91ac76</string>
	<key>SCSDKRedirectUrl</key>
	<string>gamfunSnapchat</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>com.openinstall.APP_KEY</key>
	<string>gq2edz</string>
</dict>
</plist>
