<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624972041406-fr6n4obil8prkt8ifr37lc4jldks64id.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624972041406-fr6n4obil8prkt8ifr37lc4jldks64id</string>
	<key>API_KEY</key>
	<string>AIzaSyCViaP8yCJWyv_Tav1mtnfHpemPmUkDH0k</string>
	<key>GCM_SENDER_ID</key>
	<string>624972041406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joyouspace.Daleel</string>
	<key>PROJECT_ID</key>
	<string>daleel-1df51</string>
	<key>STORAGE_BUCKET</key>
	<string>daleel-1df51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:624972041406:ios:81cf8589cf8c42311e22ef</string>
</dict>
</plist>
